body{
    background-color: #efefef;
}
.main{
    background-color: #ffffff;
    margin: 30px;
}
.btn-publish{
    float:right;
    margin-bottom: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
}
.text-desc{
     font-size: 12px;
     font-weight: normal;
     color: #999;
 }
.page-css{
    float:right;
}
.list-css{
    margin-top: 20px;
}